* {
    padding: 0px;
    margin: 0px;
}

:root {
--Dark-Blue: hsl(240, 38%, 20%);
--Grayish-Blue: hsl(240, 18%, 77%);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 95vh;
}

.img {
    width: 100vw;
    height: 325px;
    margin: 20px auto;
    background: white url(images/pattern-bg.svg) no-repeat center / contain; 
}

.img > img {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 275px;
    height: 275px;
    border-radius: 10px;
    box-shadow: 2px 25px 25px rgba(0, 0, 0, 0.096);
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 65px;
    padding: 10px;
    border-radius: 20px;

    position: relative;
    left: 50%;
    top: 6%;
    transform: translate(-50%, -50%);
}

.button:hover {
    cursor: pointer;
    color: purple;
}

.tanya, .jonh {
    display: flex;
    flex-direction: column;
    margin: 40px auto;
    width: 80%;
    font-size: 1.3em;
}  

.tanya p {
    text-align: center;
    color: var(--Dark-Blue);
}

.name {
    margin-top: 20px;
    font-size: 1.0em;
    font-weight: bold;
}

.position {
    font-size: 0.95em;
    color: var(--Grayish-Blue) !important;
}