*{
    margin: 0px;
    padding: 0px;
    font-family: "Space Grotesk", sans-serif;
}

:root {
    --Red: hsl(0, 100%, 66%);

    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);

    --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
}

main {
    background: url(/images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    height: 230px; 
}

section { /*Temporário*/
    height: 300px;
}

#card_front {
    position: absolute;
    background-image: url('/images/bg-card-front.png'); 
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    height: 145px;
    width: 280px;
    border-radius: 5px;
    color: var(--Light-grayish-violet);

    top: 30%;
    left: 43%;

    transform: translate(-50%, -50%);
    z-index: 2;

    box-shadow: 5px 40px 100px rgba(0, 0, 0, 0.308);
}

#card_front > img {
    width: 50px;
    margin: 15px 20px;
}

#card_front > p {
    text-align: center;
    font-size: 1.25em;
    font-weight: 100;
    letter-spacing: 1.5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#card_front > div {
    width: 245px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#info > p {
    font-size: 0.68em;
}

#card_back {
    position: absolute;
    background-image: url('/images/bg-card-back.png'); 
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    /* height: 38vw; 
    width: 73%;  */
    height: 145px;
    width: 280px;
    border-radius: 5px;
    color: var(--Light-grayish-violet);

    top: 17.5%;
    left: 57%;

    transform: translate(-50%, -50%);
    z-index: 1;
}

#card_back > p {
    position: absolute;
    text-align: right;
    font-size: 0.8em;
    top: 43.5%;
    left: 80%;
}

form {
    width: 90%;
    margin-left: 35px;
}

label {
    color: var(--Very-dark-violet);
    font-size: 0.9em;
    font-weight: 550;
    margin-right: 27px;
}

input{
    width: 86%;
    height: 10vw;
    border-radius: 5px;
    border: 1px solid var(--Light-grayish-violet);
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 15px;
    font-size: 0.97em;
}

input::placeholder{
    font-weight: 700;
    color: var(--Light-grayish-violet);
}

#date_cvc {
    display: flex;
    width: 98%;
    /* width: 330px; */
}

#date_cvc > div {
    margin-right: 20px;
}

#date_cvc > div:nth-child(1), #date_cvc > div:nth-child(2) {
    width: 25%;
    /* width: 80px; */
}
 
button {
    width: 82%;
    height: 40px;
    margin: 15px 0px 10px 35px;
    border: none;
    border-radius: 5px;
    color: var(--Light-grayish-violet);
    font-size: 1em;
    background-color: var(--Very-dark-violet);
    cursor: pointer;
}

button:hover {
    background-color:  hsl(278, 94%, 30%);
    transition-duration: 0.4s;
}

/* JavaScript */

.error {
    border: 1px solid var(--Red) !important;
}

.msg_e {
    color: red;
    font-weight: 500;
    font-size: 0.8em;
    margin: -20px 0px 2px 0px;
}


div#comp_state {
    text-align: center;
}

div#comp_state > img, div#comp_state h1, div#comp_state p {
    margin-top: 20px;
    margin-bottom: 20px;
}