*{
    margin: 0px;
    padding: 0px;
    font-family: "Space Grotesk", sans-serif;
}

:root {
    --Red: hsl(0, 100%, 66%);

    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);

    --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
}

section { 
    background: url(/images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    height: 63vw;
    margin-bottom: 85px;
    margin-bottom: 20vw;
}

#card_front {
    position: absolute;
    background-image: url('/images/bg-card-front.png'); 
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    height: 40vw; 
    width: 75vw; 
    border-radius: 5px;
    color: var(--Light-grayish-violet);

    top: 54vw;
    left: 43vw;

    transform: translate(-50%, -50%);
    z-index: 2;

    box-shadow: 5px 40px 100px rgba(0, 0, 0, 0.192);
}

#card_front > img {
    width: 12vw;
    margin: 5vw;
}

#card_front > p {
    text-align: center;
    font-size: clamp(0px, 5.3vw, 1000px);
    font-weight: 100;
    letter-spacing: 0.5vw;
    margin: 2.5vw 0px;
}

#card_front > div {
    width: 65vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

#info > p {
    font-size: clamp(0px, 2.8vw, 1000px);
}

#card_back {
    position: absolute;
    background-image: url('/images/bg-card-back.png'); 
    background-repeat: no-repeat;
    background-position: center left;
    background-size: cover;
    height: 40vw; 
    width: 75vw; 
    border-radius: 5px;
    color: var(--Light-grayish-violet);

    top: 31.5vw;
    left: 58vw;

    transform: translate(-50%, -50%);
    z-index: 1;
}

#card_back > p {
    position: absolute;
    text-align: right;
    font-size: clamp(0px, 2.8vw, 1000px);
    top: 44.5%;
    left: 80%;
}

form {
    width: 85vw;
    margin-left: 8vw;
}

label {
    color: var(--Very-dark-violet);
    font-size: 3.8vw;
    font-weight: 550;
    margin-right: 4vw;
}

input{
    width: 80vw;
    height: 10vw;
    font-size: 3.2vw;
    margin: 10px 0px 20px 0px;
    padding-left: 15px;
    border-radius: 5px;
    border: 1px solid var(--Light-grayish-violet);
}

input::placeholder{
    font-weight: 700;
    color: var(--Light-grayish-violet);
}

#date_cvc {
    display: flex;
}

#date_cvc > div {
    margin-right: 1.5vw;
}

#date_cvc > div:nth-child(1) > input {
    width: 13vw;
}

#date_cvc > div:nth-child(2) > input {
    width: 13vw;
}

#date_cvc > div:nth-child(3) > input {
    width: 42vw;
}
 
button {
    width: 84.5vw;
    height: 40px;
    cursor: pointer;
    border: none;
    margin: 2vw 0vw 0vw 8vw;
    font-size: 1em;
    border-radius: 5px;
    color: var(--Light-grayish-violet);
    background-color: var(--Very-dark-violet);
}

button:hover {
    background-color:  hsl(278, 94%, 30%);
    transition-duration: 0.4s;
}

/* JavaScript */

.error {
    border: 1px solid var(--Red) !important;
}

.msg_e {
    color: red;
    font-weight: 500;
    font-size: 0.8em;
    margin: -20px 0px 2px 0px;
}


div#comp_state {
    text-align: center;
}

div#comp_state > img, div#comp_state h1, div#comp_state p {
    margin-top: 20px;
    margin-bottom: 20px;
}