*{
    margin: 0px;
    padding: 0px;
    font-family: "Space Grotesk", sans-serif;
}

:root {
    --Red: hsl(0, 100%, 66%);

    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);

    --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
}

html {
    /* font-size: 62.5%; */
}

section {
    height: 42vh;
    width: 100vw;
}

section > #img {
    background-image: url('../images/bg-main-mobile.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 30vh;
}

#card_front {
    position: absolute;
    background: url('/images/bg-card-front.png') no-repeat center left / cover; 
    height: 145px;
    width: 280px;
    border-radius: 5px;
    color: var(--Light-grayish-violet);

    top: 27.2%;
    left: 43%;

    transform: translate(-50%, -50%);
    z-index: 2;

    /* box-shadow: 5px 40px 500px rgba(0, 0, 0, 0.308);  */
}

#card_front > img {
    width: 50px;
    margin: 15px 20px;
}

#card_front > p {
    text-align: center;
    font-size: 1.25em;
    font-weight: 100;
    letter-spacing: 1.5px;
    margin: 10px auto;
}

#card_front > div {
    display: flex;
    width: 245px;
    margin: auto;
    justify-content: space-between;
}

#info > p {
    font-size: 0.68em;
}

#card_back {
    position: absolute;
    background: url('/images/bg-card-back.png') no-repeat center left / cover; 
    width: 280px;
    height: 145px;
    border-radius: 5px;
    color: var(--Light-grayish-violet);

    top: 14.5%;
    left: 57%;

    transform: translate(-50%, -50%);
    z-index: 1;
}

#card_back > p {
    position: absolute;
    text-align: right;
    font-size: 0.8em;
    top: 43.5%;
    left: 80%;
}

form {
    width: 85vw;
    margin: auto;
}

label {
    color: var(--Very-dark-violet);
    font-size: 0.9em;
    font-weight: 550;
}

#p_label {
    margin-top: 24.5px;
}

input{
    width: calc(100% - 16px);
    height: 7vh;
    max-height: 40px;
    border-radius: 10px;
    border: 1px solid var(--Light-grayish-violet);
    margin: 5px auto 0px auto;
    padding-left: 15px;
    font-size: 0.97em;
}

input::placeholder{
    font-weight: 700;
    color: var(--Light-grayish-violet);
}

#date_cvc {
    display: flex;
    width: 100%;
    margin-top: 24.5px;
}

#div-1 /*,#div-2*/ {
    width: 45%;
}

#div-2 {
    width: 55%;
}

.month_year {
    width: 30%;
}

#i_cvc {
    width: calc(100% - 17px);
}

button {
    width: 100%;
    height: 7vh;
    max-height: 40px;
    margin: 35px auto 15px;
    font-size: 1em;
    color: var(--Light-grayish-violet);
    background-color: var(--Very-dark-violet);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:  hsl(278, 94%, 30%);
    transition-duration: 0.4s;
}

/* JavaScript */

.error {
    border: 1px solid var(--Red) !important;
}

.msg_e {
    color: red;
    font-weight: 500;
    font-size: 0.8em;

    position: relative;

    margin-bottom: -15px;
}


div#comp_state {
    text-align: center;
    margin: 10vh auto;
}


div#comp_state > img, div#comp_state h1, div#comp_state p {
    margin-top: 20px;
    margin-bottom: 20px;
}