@font-face {
    font-family: 'Work Sans';
    src: url('/assets/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans';
}

:root {
    --White: hsl(0, 0%, 100%);
    --Light-pink: hsl(275, 100%, 97%);
    --Grayish-purple: hsl(292, 16%, 49%);
    --Dark-purple: hsl(292, 42%, 14%);
}

body {
    background-color: var(--Light-pink);
}

div#fundo { /* Imagem de Fundo */
    background-image: url('/assets/images/background-pattern-desktop.svg');
    height: 40vh;
}

div#principal { 
    position: absolute; 
    background-color: white;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px 15px rgba(0, 0, 0, 0.123);
    width: 400px;
    

    font-family: 'Work Sans';

    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}

div#imagem {
    display: flex;
    padding: 25px 20px 20px 30px;
}

div#imagem > img {
    width: 30px;
    margin-right: 25px;
}

div#imagem > h1 {
    font-size: 2.3em;
}

.paragrafo {
    display: flex;
    padding: 5px 20px 15px 30px; 
}

#p4 {
    padding-bottom: 25px;
}

.paragrafo > p {
    width: 270px;
    font-weight: bold;
    font-size: 1.2em;
}

.paragrafo > img {
    width: 35px;
    margin-left: 35px;
    cursor: pointer;
}

div.div_inativa > p {
    color: var(--Grayish-purple);
    padding: 1px 20px 20px 30px;
    width: 350px; 
}

.div_inativa {
    height: 0;
    overflow: hidden;
}

.attribution {
    padding-bottom: 2px;
}