* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
--Moderate-violet: hsl(263, 55%, 52%);
--Very-dark-grayish-blue: hsl(217, 19%, 35%);
--Very-dark-blackish-blue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);

--Light-gray: hsl(0, 0%, 81%);
--Light-grayish-blue: hsl(210, 46%, 95%);
}

body {
    background-color: var(--Light-grayish-blue);
}

main {
    background-color: var(--Light-grayish-blue);
}

.perfil {
    display: flex;
    margin: 40px 45px 0px 25px;
    padding-top: 35px;    
}

.perfil > img {
    width: 45px;
    margin-right: 20px;
    border-radius: 100%;
    border: 2px solid var(--Light-gray);
}

.perfil > p > span {
    color: var(--White);
    line-height: 1.4em;
    font-weight: 600;
}

.perfil > p {
    color: var(--Light-gray);
    margin: 3px;
}

section {
    margin: auto;
    width: 420px;
    border-radius: 15px;    
}

section > p {
    color: var(--Light-gray);
    margin:20px 45px 30px 25px; 
    padding-bottom: 35px;
    line-height: 1.4em;
    font-size: 0.9em;
    width: 370px;
}

section > h1 {
    color: var(--White);
    margin-left: 25px;
    width: 375px;
}

#box_daniel {
    background-color: var(--Moderate-violet);
}

#box_jonathan {
    background-color: var(--Very-dark-grayish-blue);
}

#box_jeanette {
    background-color: var(--White);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.233);
}

#box_jeanette > p {
    color: var(----Very-dark-grayish-blue) !important;
} 

#perfil_jeanette > p > span {
    color: var(----Very-dark-grayish-blue) !important;
}

#perfil_jeanette > p {
    color: var(----Very-dark-grayish-blue) !important;
}

#box_jeanette > h1 {
    color: var(----Very-dark-grayish-blue) !important;
}    

#box_patrick {
    background-color: var(--Very-dark-blackish-blue);
}

#box_kira {
    background-color: var(--White);
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.233);
}

#box_kira > p {
    color: var(----Very-dark-grayish-blue) !important;
} 

#perfil_kira > p > span {
    color: var(----Very-dark-grayish-blue) !important;
}

#perfil_kira > p {
    color: var(----Very-dark-grayish-blue) !important;
}

#box_kira > h1 {
    color: var(----Very-dark-grayish-blue) !important;
}