@media screen and (min-width: 1536px) {
    main {
        flex-direction: column;
        display: flex; 
    }

    div#conteiner_1 {
        flex-direction: row;
        display: flex;  
    }

    div#conteiner_2 {
        flex-direction: row;
        display: flex;  
    }
    
    #principal {
        display: flex;
        position: absolute;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }

    div.perfil {
        margin-top: 0px;
        margin-left: 35px;
    }

    section.box2 {
        width: 690px;
        height: 340px;
        margin: 10px; 
    }

    section.box2 > p {
        width: 620px;
        margin-left: 40px;
        margin-top: 0px;
        font-size: 0.94em;
        margin-bottom: 10px;
    }

    section.box2 > h1 {
        width: 620px;
        font-size: 1.35em;
        margin-left: 40px;   
    }

    section.box1 {
        width: 360px;
        height: 340px;
        margin: 10px; 
    }

    section.box1 > p {
        width: 298px;
        margin-bottom: 10px;
        margin-left: 30px;
        line-height: 1.6em;
        font-size: 0.95em;
    }

    section.box1 > h1 {
        width: 300px;
        margin-left: 30px;
    }

    section.box3 {
        height: 700px;
        margin: 10px;
        width: 360px;
        text-align: center; 
    }

    section.box3 > p {
        width: 298px;
        margin-bottom: 10px;
        margin-left: 30px;
        line-height: 1.6em;
        font-size: 0.95em; 
    }

    section.box3 > h1 {
        width: 300px;
        margin-left: 30px; 
    }
} 

@media screen and (min-width: 1420px) and (max-width: 1536px){

    main {
        flex-direction: column;
        display: flex; 
    }

    div#conteiner_1 {
        flex-direction: row;
        display: flex;  
    }

    div#conteiner_2 {
        flex-direction: row;
        display: flex;  
    }

    #principal {
        display: flex;
        position: absolute;

        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }

    div.perfil {
        margin-top: 0px;
        margin-left: 35px;
    }

    section.box2 {
        width: 680px;
        height: 325px;
        margin: 10px; 
    }

    section.box2 > p {
        width: 620px;
        margin-left: 40px;
        margin-top: 0px;
        font-size: 0.94em;
    }

    section.box2 > h1 {
        width: 620px;
        font-size: 1.35em;
        margin-left: 40px;   
    }

    section.box1 {
        width: 300px;
        height: 325px;
        margin: 10px; 
    }

    section.box1 > p {
        width: 250px;
        margin-left: 30px;
        font-size: 0.94em;
    }

    section.box1 > h1 {
        width: 250px;
        margin-left: 30px;
    }

    section.box3 {
        height: 665px;
        margin: 10px;
        width: 360px;
        text-align: center; 
    }

    section.box3 > p {
        width: 298px;
        margin-bottom: 10px;
        margin-left: 30px;
        line-height: 1.6em;
        font-size: 0.95em; 
    }

    section.box3 > h1 {
        width: 300px;
        margin-left: 30px; 
    }

}

@media screen and (min-width: 915px) and (max-width: 1419px) {

    div.perfil {
        margin-top: 0px;
        margin-left: 35px;
    }

    section.box1, .box2, .box3 {
        width: 850px;
    }

    section.box1 > P, .box2 > p, .box3 > p {
        width: 780px;
        margin-left: 40px;
        font-size: 1.2em;
    }

    section.box1 > h1, .box2 > h1, .box3 > h1 {
        width: 780px;
        margin-left: 40px;
        font-size: 1.55em;

    } 
}