@media screen and (min-width: 700px) and (max-width: 940px) {
    main {
        width: 420px;
    }

    header {
        width: 420px;
        background-position: center top;
    }

    article > p {
        width: 320px;

    }

    #a1 > p {
        font-size: 1.18em;
    }
    
    #a2 > p {
        color: var(--Desaturated-Dark-Blue);
        font-size: 1.01em;
    }

    .balao {
        
    }
}

@media screen and (min-width: 940px) {
    main {
        position: absolute;
        width: 900px;
        height: 340px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -60%);
    }    

    header {
        float: left;
        width: 350px;
        height: 340px;
        border-radius: 10px 0px 0px 10px;
        background-position: center left;
    }

    article > p {
       float: left;
       width: 450px;
       margin-bottom: 10px;
    }

    #a1 > p {
        font-size: 1.55em;
        margin: 35px 0px 15px 35px;
    }
    
    #a2 > p {
        font-size: 1.09em;
        margin: 0px 0px 12px 35px;
    }


    section {
        width: 450px;
        
    }
    
    section > img {
        border-radius: 100%;
        width: 60px;
    }
    
    img#img_share {
        width: 30px;
        height: 40px;
        background-color:  white;
        
    }
    
    section > p {
        font-size: 1.4em;   
    }   

    .balao {
        top: 55%;
        left: 78.2%;
    }
}