@media screen and (min-width: 1500px) {
    main {
        display: flex;
    }

    section#first {
        width: 75vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-left: 3.5vw;
        margin-right: 0vw;
        border: 1px solid red;
    }

    section#first h1 {
        width: 75vw;
        font-size: 3.2em;
        margin-left: 1.4vw;
        margin-bottom: 10px;
    }

    div.item {
        margin: 0px auto;
        width: 22vw;
        border: 1px solid green;
    }

    div.btn_add {
        display: flex;
        justify-content: center;
        position: relative;
        transform: translate(-50%, -375%);
    }

    p.category {
        margin-top: 35px;
    }

    p.name {
        margin: 5px 0px;
    }

    p.price {
        margin-bottom: 0px;
    }

    .item > div:first-child {
        width: 100% !important;
        height: 50%;
    }
      
    section#empty {
        border: 1px solid blue;
        margin: 0 auto;
        height: 300px;
    }

    /* Script */

    .btn_order {
        display: flex;
        justify-content: space-between;
        position: relative;
        transform: translate(-50%, -375%);
    }

    /* Tamanho das fontes */
    /* Tamanho das imagens */
}