
@media screen and (min-width: 850px) {
    main {
        display: flex;
        flex-flow: row wrap;
        /* border: 1px solid green; */
    }

    section#first {
        width: 75vw;
        min-width: 850px;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: auto;
        /* border: 1px solid red; */
    }

    section#first h1 {
        width: 75vw;
        font-size: 3.2em;
        margin-left: 1.4vw;
        margin-bottom: 10px;
    }

    div.item {
        margin: 0px auto;
        width: 22vw;
        min-width: 250px;
    }

    div.btn_add {
        display: flex;
        justify-content: center;
        position: relative;
        transform: translate(-50%, -375%);
    }

    p.category {
        margin-top: 35px;
    }

    p.name {
        margin: 5px 0px;
    }

    p.price {
        margin-bottom: 0px;
    }

    .item > div:first-child {
        width: 100% !important;
        height: 50%;
    }
      
    section#cart {
        /* border: 1px solid blue; */
        width: 20.5vw; 
        min-width: 250px;
        margin: 0 auto;
        height: 300px;
    }

    @media screen and (min-width: 850px) and (max-width: 1456px) {
        section#cart {
            width: 75vw; 
            min-width: 850px;
            margin: 0 auto;
            height: 300px;
            border: 1px solid blue;
        }
    }

    /* Script */

    .btn_order {
        display: flex;
        justify-content: space-between;
        position: relative;
        transform: translate(-50%, -375%);
    }

    /* Tamanho das fontes */
    /* Tamanho das imagens */
}