@font-face {
  font-family: "Work Sans";
  src: url("../assets/fonts/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  font-family: "work Sans", sans-serif;
}

html {
  font-size: 62.5%;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-pink: hsl(275, 100%, 97%);
  --Grayish-purple: hsl(292, 16%, 49%);
  --Dark-purple: hsl(292, 42%, 14%);
}

body {
  height: 100vh;
  background-color: var(--Light-pink);
}

#background-image {
  background: var(--Light-pink)
    url("../assets/images/background-pattern-mobile.svg") no-repeat center top /
    cover;
  height: 30rem;
  width: 100%;
}

#container {
  width: 37.5rem;
  border-radius: 1.2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;

  background-color: var(--White);
  box-shadow: -5px 10px 50px 0px rgba(0, 0, 0, 0.123);
}

#image {
  width: 85%;
  margin: 2.5rem 0rem 0rem 0rem;

  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: center;
}

#image > img {
  height: 2.8rem;
  margin-right: 1rem;
}

#image > h1 {
  font-size: 3.5rem;
  color: var(--Dark-purple);
}

.faq {
  width: 85%;
  margin: 2.5rem;
}

.question {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.question > p {
  width: 75%;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75rem;
  color: var(--Dark-purple);
}

.question > img {
  cursor: pointer;
}

.hidden-div {
  overflow: hidden;
  height: 0rem;
  transition: height 0.5s ease;
}

.hidden-div::-webkit-scrollbar {
  display: none;
}

.hidden-div > p {
  font-size: 1.4rem;
  font-weight: 550;
  margin-top: 1.25rem;
  color: var(--Grayish-purple);
}

@media (768px <= width) {
  #background-image {
    background: url("../assets/images/background-pattern-desktop.svg") no-repeat
      center top / cover;
  }

  #container {
    width: 55.5rem;
    transition: width 0.5s ease;
  }

  #image {
    margin: 3rem 0rem 0rem 0rem;
  }

  #image > img {
    height: 3.25rem;
    margin-right: 1.75rem;
  }

  #image > h1 {
    font-size: 4.2rem;
  }

  .faq {
    margin: 3rem;
  }

  .question > p {
    width: 90%;
    font-size: 1.65rem;
    font-weight: 600;
  }
}
