*{
   padding: 0px;
   margin: 0px;
   font-family: Arial, Helvetica, sans-serif; 
}

:root {
    --primary-color: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(217, 12%, 63%);
    --Blue: hsl(213, 19%, 18%);
    --Dark-Blue: hsl(216, 12%, 8%);
}

body {
    background-color: var(--Dark-Blue);
}

div#principal {
    position: absolute;

    background-color: var(--Blue);
    width: 340px;
    border-radius: 15px;
   
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
}

div#principal > img {
    background-color: hsla(216, 12%, 8%, 0.384);
    border-radius: 100%;
    padding: 10px;

    margin: 22px 5px 8px 25px; 
}

div#principal > h1 {
    color: white;
    font-size: 22px;
    font-weight: normal;

    margin: 4px 5px 8px 25px;
}

div#principal > p {
    color: var(--Grey);
    font-size: 15px;
    line-height: 1.2em;

    margin: 10px 25px 75px 25px;
}

div#principal > div {
    color: var(--Grey);
}

div#q {
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-45%, 205%);
    width: 100%;
}

div#q > div.btn {
    display: inline;
    text-align: center;
    background-color: hsla(216, 12%, 8%, 0.384);

    
    border-radius: 50px;
    padding: 10px 14px 10px 14px;

    margin-right: 10px;
    margin-left: 10px;   
}

/* div.btn:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}*/

div > input[type=submit] {
    display: block;
    font-weight: bold;
    color: var(--Blue);
    background-color: var(--primary-color);
    border-radius: 20px;
    width: 290px;
    height: 40px;
    border: none;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 8px;
}

div > input[type=submit]:hover {
    background-color: white;
    cursor: pointer;
}

.selecionado {
    display: inline;
    text-align: center;
    background-color:var(--primary-color) !important;
    color: var(--Dark-Blue) !important;

    
    border-radius: 50px;
    padding: 10px 14px 10px 14px;

    margin-right: 10px;
    margin-left: 10px;   
}

.hoo {
    background-color: white !important;
    color: var(--Blue) !important; 
    cursor: pointer;
}