@media screen and (min-width: 518px) {
    header {
        display: block;
    }

    header > nav {
        position: relative;
        width: 550px;
        height: 40px;
        overflow: visible;
        top: inherit;
        left: inherit;
    }

    nav > p {
        display: flex;
        flex-flow: row;
    }
}