
@media screen and (min-width: 1200px) { /* width minimo -> 1024px*/

    body {
        position: absolute !important;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: auto !important;
        width: 85%;
    }

    header {
        display: flex;
        width: 74.9vw;
        height: 5.5vw;
        margin-bottom: 0.5vw;
        border: 1px solid green; 
    }

    header > nav {
        position: relative;
        height: 40px;
        width: 32vw;
        overflow: visible;
        top: inherit;
        left: inherit;

        background-color: white;
        /* border: 1px solid black; */
    }

    nav > p {
        display: flex;
        flex-flow: row;
    }

    nav > p > a {
        margin: 15px 0px 15px 8.6%;
        font-size: 1vw;
    }

    /* MAIN */

    main {
        width: 79vw; 
        flex-flow: row wrap; 
        align-content: flex-start;
        display: flex;
        margin: auto !important;
        margin-top: 0vw !important;
        /* border: 1px solid rgb(177, 25, 139); */
    }

    /* Section One */

    #section_1 {
         margin: 0; 
    }

    section#section_1 > div#img {
        background: blue url('/assets/images/image-web-3-desktop.jpg') center center no-repeat !important;
        background-size: cover !important;
        height: 18vw; 
        width: 50vw ;
    
        margin: 0px 0px 0px 2vw;
    }

    div#texto {
        width: 50vw; 
        height: 13vw; 
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        margin: 0px 0% 0px 2vw; 
    }

    section#section_1  h1 {
        width: 40%;
        font-size: 3.7vw;
        font-weight: 900;
        line-height: 1em;
        margin: 3.5% 5% 0px 0px;
    }

    section#section_1  p {
        line-height: 1.72em; 
        font-size: 1.08vw;
        width: 24vw;
        margin: 7% 0px 7% 12%; 
    }

    section#section_1  a {
        font-size: 1vw;
        padding: 10px 30px;
        margin-bottom: 0px;
    }

    /* Section Two */

    #section_2 {
        height: 31vw;
        width: 24vw !important;
        margin: 0px 0px 0px 1vw !important;   
    }

    section#section_2 > h1 {
        font-size: 2.2vw;
        margin-top: 0vw;
        margin-left: 2vw;
        margin-bottom: 0px;
    }

    section#section_2 > h2 {
        width: 19.5vw;
        font-size: 1.3vw;
        padding-top: 2vw;
        margin: 0px 0px 0vw 2vw;
    }

    section#section_2 > p {
        width: 21vw;
        font-size: 1.0vw;
        margin-bottom: 0vw;
        margin-left: 2vw;
        padding-bottom: 2vw;
    }

    /* Section Three */

    #section_3 {
        width: 74.9vw; 
        display: flex;
        margin: 1.5vw 0px 0px 2vw;
        /* border: 1px solid red; */
    }

    .div_main {
        width: 24.6vw;
        margin-bottom: 0px !important;
    }

    .div_main:nth-of-type(1) {
        margin-right: 0.75vw;
    }

    .div_main:nth-of-type(2) {
        margin-right: 1.05vw;
    }

    div.image > img {
        width: 6.5vw;
        height: 8.5vw;
    }

    div.text {
        width: 15vw;
        margin-right: 2.7vw;
        /* border: 1px solid blue; */
    }

    #section_3 > div:nth-of-type(1)  p {
        width:  13vw !important;
        font-size: 0.9vw;
    }

    #section_3 > div:nth-of-type(2)  p {
        width:  13vw !important;
        font-size: 0.9vw;
    }

    #section_3 > div:nth-of-type(3)  p {
        width:  15vw !important;
        font-size: 0.9vw;
    }

    div.text > h1 {
        color: var(--Soft-red);
        font-size: 2.1vw;
    }
    
    div.text > h2 {
       font-size: 1.2vw;
       margin: 0.5vw 0px;
    }
    
    div.text > p {
        color: var(--Dark-grayish-blue); 
        line-height: 1.2em;
    }
}